<nav class="navbar   bg-opacity-10 navbar-expand-lg bg-white">
  <div class="container-fluid mx-auto py-1 px-3">
    <a class="navbar-brand d-lg-none text-capitalize  fw-bolder fs-2" routerLink="/">elevate</a>
    <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav text-capitalize ms-auto mb-2 mb-lg-0">
        <li class="nav-item order-lg-0 order-3 dropdown">
          <a class="nav-link text-black dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            english
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Arabic</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link second main-color" aria-current="page" routerLink="login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link main-color bg-white third" routerLink="register">register</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
