<section id="form-container">

  <h2 class="form-header text-capitalize">verify code</h2>
  <form [formGroup]="authForm" (ngSubmit)="verifyCode()">
    <div class="form-input">
      @let code = authForm.get('resetCode')!;
      <input InputAlert formControlName="resetCode" [inputControl]="code" type="text" class="form-control"
        placeholder="Enter your code..">
      <validation-messages [control]="code" />
    </div>
    <p class="text-capitalize text-end">
      Didn’t receive a code ?
      <a (click)="resendCode()" class="main-color resend text-decoration-none">Resend</a>
    </p>
    @let isValid = authForm.valid;
    <app-form-btn btnText="Verify" [isValid]="isValid" [isLoading]="isLoading" />
    @if (resMsg) {
    <app-response-msg [resMsg]="resMsg" />
    }



  </form>


</section>
