<section id="auth-layout" class="min-vh-100">

  <div class="d-flex ">
    <div class="col-md-6 posture">
      <div class="auth-postre d-flex flex-column">
        <h1 class="d-flex flex-column h-100">
          Welcome to
          <span>elevate</span>
        </h1>
        <p>
          Quidem autem voluptatibus qui quaerat aspernatur architecto natus
        </p>
        <img src="assets/imgs/bro.png" alt="auth-image">
      </div>
    </div>
    <div class="col-md-6">

      <app-navbar />
      <div class="auth-form d-flex  justify-content-center">
        <router-outlet />
      </div>

    </div>
  </div>



</section>
