<div class="modal-header p-0 border-bottom-0">
  <h4 class="modal-title p-0">instructions</h4>
</div>
<div class="modal-body border-bottom-0 p-0">
  <ul class="m-0">
    <li>
        Lorem ipsum dolor sit amet consectetur.
    </li>
    <li>
        Lorem ipsum dolor sit amet consectetur.
    </li>
    <li>
        Lorem ipsum dolor sit amet consectetur.
    </li>
    <li>
        Lorem ipsum dolor sit amet consectetur.
    </li>
  </ul>

</div>
<div class="modal-footer border-0 p-0">
  <button type="button" class="btn border-0 d-block w-100 text-capitalize" (click)="startExam()">start</button>
</div>
