@use "../../../../../styles/scss/functions" as func;
@use "../../../../../styles/scss/variables" as var;

.chart-wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  position: absolute;
  font-size: 1.5rem;
  font-weight: medium;
  color: #373737;
  ;
}

.statistics {
  span {
    width: func.PXToREM(30px)+rem;
    height: func.PXToREM(30px)+rem;
    background-color: transparent;
    border: 1px solid var.$main-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h5 {
    font-size: func.PXToREM(24px)+rem;

  }

  .correct {
    color: var.$main-color;
  }

  .incorrect {
    span {
      border-color: #CC1010;
    }

    color: #CC1010;
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: func.PXToREM(40px)+rem;

  button {
    // height:func.PXToREM(56px)+rem;
    padding: func.PXToREM(2.5px)+rem 0px;
    width: 50%;
    border-radius: func.PXToREM(100px)+rem;
    font-size: func.PXToREM(20px)+rem;
    font-weight: 500;
    border: 2px solid var.$main-color;
    background-color: var.$main-color;
    color: white;

    &.back {
      background-color: white !important;
      color: var.$main-color;
    }

  }
}