 @use "../../../../../styles/scss/functions" as func;
 @use "../../../../../styles/scss/variables" as var;

 .modal-header {
   h4 {
     font-size: func.PXToREM(14px)+rem;
     color: var.$main-color;
   }

   .time {
     font-size: func.PXToREM(20px)+rem;
     color: #11CE19;
   }

   .question-dots {
     span {
       display: inline-block;
       width: func.PXToREM(10px)+rem;
       height: func.PXToREM(10px)+rem;
       background-color: #D9D9D9;
       border-radius: 50%;

       &.active {
         background-color: var.$main-color;
       }
     }
   }
 }



 .question-dots {
   margin-top: func.PXToREM(27px)+rem;
   margin-bottom: func.PXToREM(40px)+rem;
 }

 .modal-footer {
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
   gap: func.PXToREM(40px)+rem;

   button {
     padding: func.PXToREM(11px)+rem 0px;
     width: 50%;
     border-radius: func.PXToREM(100px)+rem;
     font-size: func.PXToREM(24px)+rem;
     font-weight: 500;

     &.back {
       background-color: #fff;
       color: var.$main-color;
       border: 2px solid var.$main-color;
     }

     &.next {
       background-color: #1D1B201F;
       color: #000;
       border: 2px solid white;
       &.activeNext {
        background-color: var.$main-color !important;
        color: white;
       }
     }
   }
 }
