
<!-- <div class="position-absolute top-0">
  <i class="fa-solid fa-xmark"></i>
</div> -->

<div class="modal-header p-0 border-bottom-0 flex-column">
  <div class="d-flex w-100 justify-content-between align-items-center">
    <h4 class="modal-title p-0">
      Questions {{currentQuestion() + 1}} of {{totalQuestions}}
    </h4>
    <div class="time">
      <i class="fa-solid fa-stopwatch me-1"></i>
      <span>{{duration}}</span>
    </div>
  </div>

  <div class="question-dots d-flex w-100 flex-nowrap justify-content-evenly">
    @for (question of questions; track question._id) {
    <span [class]="selectedAnswers[question._id]?'active':''"></span>
    }
  </div>

</div>
<div class="modal-body border-bottom-0 p-0">
  <app-question-card [question]="questions[currentQuestion()]" />
</div>
<div class="modal-footer border-0 p-0">
  <button type="button" (click)="getPrev()" class="btn back btn-outline-secondary text-capitalize">back</button>
  <button type="button" (click)="getNext()" class="btn next btn-outline-secondary text-capitalize" [class]="{
    'activeNext':!isEmptyObj(selectedAnswers)
  }" [disabled]="isEmptyObj(selectedAnswers)">next</button>
</div>
