@if(control?.errors && (control?.touched || control?.dirty) && !(control?.get('rePassword')) ) {
<div class="alert alert-danger">


  <div>
    @if (control?.getError('required')) {
    Input is Required
    }
    @if(control?.getError("minlength")) {
    Name must be at least 3 characters
    }
    @if (control?.getError("maxlength")) {
    Name must be maximum 20 characters
    }
    @if (control?.getError("email")) {
    Invalid email (ex. example{{'@'}}example.com)
    }
    @if (control?.getError("pattern")) {
    <div>
      <span class="font-medium">Ensure that these requirements are met:</span>
      <ul class="mt-1.5 list-disc list-inside">
        <li>At least 8 characters</li>
        <li>At least one lowercase and one uppercase</li>
        <li>at least one special character and one num</li>
      </ul>
    </div>
    }

    @if (control?.getError("phoneInvalid")) {
    Invalid phone number
    }
    @if (control?.getError("nameInvalid")) {
    Invalid name must be of at least one character
    }



  </div>
</div>
}


@if (control?.getError('mismatch') && (control?.get('rePassword')?.touched || control?.get('rePassword')?.dirty) &&
(control?.get('rePassword'))) {



<div class="alert alert-danger text-capitalize">
  @if (control?.getError('mismatch')) {
  password mismatch
  }


</div>





}
