<section id="form-container">

  @if (steps() == 0) {
  <h2 class="form-header text-capitalize">forget your password</h2>
  <form [formGroup]="authForm" (ngSubmit)="getCode()">
    <div class="form-input">
      @let email = authForm.get('email');
      <input InputAlert [inputControl]="email!" formControlName="email" type="email" class="form-control"
        placeholder="email..">
      <validation-messages [control]="email" />
    </div>
    <a routerLink="../login" class="text-end float-end text-capitalize main-color">Back to login</a>
    <div class="clearfix"></div>
    @let isValid = authForm.valid;
    <app-form-btn btnText="Get OTP" [isValid]="isValid" [isLoading]="isLoading" />
    @if (resMsg) {
    <app-response-msg [resMsg]="resMsg" />
    }

  </form>
  }@else if (steps()==1) {
  <app-verify-code />
  }@else if (steps()==2) {
  <app-set-password />
  }

</section>