<section id="form-container">

  <h2 class="form-header text-capitalize">forget your password</h2>
  <form [formGroup]="authForm" (ngSubmit)="getCode()">
    <div class="form-input">
      @let email = authForm.get('email');
      <input InputAlert [inputControl]="email!" formControlName="email" type="email" class="form-control"
        placeholder="email..">
      <validation-messages [control]="email" />
    </div>
    <a routerLink="../login" class="text-end float-end text-capitalize main-color">Back to login</a>
    <div class="clearfix"></div>
    <button class="btn d-block mx-auto main-bg w-100 text-white text-uppercase">
      @if (isLoading) {
      <span class="loader"></span>
      }@else {
      Get OTP
      }

    </button>
    @if (resMsg) {
    @if (resMsg == "success") {
    <div class="alert alert-success text-capitalize text-center" role="alert">
      otp is sent successfully
    </div>
    }@else {
    <div class="alert alert-danger text-capitalize text-center" role="alert">
      {{resMsg}} <br>
    </div>
    }
    }
    <div class="social-login">
      <p class="text-capitalize text-center">or continue with</p>
      <div class="social-icons d-flex justify-content-evenly">
        <a href="">
          <i class="fa-brands fa-google"></i>
        </a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands text-black fa-apple"></i></a>
      </div>
    </div>
  </form>


</section>
