<section id="form-container">

  <h2 class="form-header text-capitalize">set a password</h2>
  <form [formGroup]="authForm" (ngSubmit)="setPass()">
 
    <div class="position-relative form-input">
      @let pass = authForm.get('password');

      <input InputAlert [inputControl]="pass!" [type]="passwordFlag?'text':'password'" formControlName="password"
        class="form-control" placeholder="password">
      <validation-messages [control]="pass" />

      <i (click)="showPassword()" [class]="{
          'fa-eye': !passwordFlag,
          'fa-eye-slash': passwordFlag
        }" class="fa-solid fa-eye position-absolute top-50 translate-middle"></i>
    </div>
    <div class="position-relative form-input">

      @let rePass = authForm.get('rePassword')!;

      <input [class]="{
                  'is-invalid':authForm.getError('mismatch')&&(rePass.dirty || rePass.touched),
                  'is-valid':(!authForm.getError('mismatch')&&(rePass.dirty || rePass.touched)
                   && (pass?.valid)),
                }" [type]="rePasswordFlag?'text':'password'" formControlName="rePassword"
        class="form-control last-input" placeholder="confirm password">
      <validation-messages [control]="authForm" />

      <i (click)="showPassword('cmf')" [class]="{
          'fa-eye': !rePasswordFlag,
          'fa-eye-slash': rePasswordFlag
        }" class="fa-solid fa-eye position-absolute top-50 translate-middle"></i>
    </div>
    <div class="clearfix"></div>
    @let isValid = authForm.valid;
    <app-form-btn btnText="Set Password" [isValid]="isValid" [isLoading]="isLoading" />
    @if (resMsg) {
    <app-response-msg [resMsg]="resMsg" />
    }

  </form>


</section>
