<section id="form-container">

  <h2 class="form-header text-capitalize">set a password</h2>
  <form [formGroup]="authForm" (ngSubmit)="setPass()">
    <div class="form-input">

      @let email = authForm.get('email');
      <input InputAlert [inputControl]="email!" formControlName="email" type="email" class="form-control"
        placeholder="email..">
      <validation-messages [control]="email" />
    </div>
    <div class="position-relative form-input">
      @let pass = authForm.get('password');

      <input InputAlert [inputControl]="pass!" [type]="passwordFlag?'text':'password'" formControlName="password"
        class="form-control" placeholder="password">
      <validation-messages [control]="pass" />

      <i (click)="showPassword()" [class]="{
          'fa-eye': !passwordFlag,
          'fa-eye-slash': passwordFlag
        }" class="fa-solid fa-eye position-absolute top-50 translate-middle"></i>
    </div>
    <div class="position-relative form-input">

      @let rePass = authForm.get('rePassword')!;

      <input [class]="{
                  'is-invalid':authForm.getError('mismatch')&&(rePass.dirty || rePass.touched),
                  'is-valid':(!authForm.getError('mismatch')&&(rePass.dirty || rePass.touched)
                   && (pass?.valid)),
                }" [type]="rePasswordFlag?'text':'password'" formControlName="rePassword"
        class="form-control last-input" placeholder="confirm password">
      <validation-messages [control]="authForm" />

      <i (click)="showPassword('cmf')" [class]="{
          'fa-eye': !rePasswordFlag,
          'fa-eye-slash': rePasswordFlag
        }" class="fa-solid fa-eye position-absolute top-50 translate-middle"></i>
    </div>
    <div class="clearfix"></div>
    <button class="btn text-capitalize d-block mx-auto main-bg w-100 text-white">
      @if (isLoading) {
      <span class="loader"></span>
      }@else {
      create password
      }
    </button>
    @if (resMsg) {
    @if (resMsg == "success") {
    <div class="alert alert-success text-center" role="alert">
      {{resMsg}}
    </div>
    }@else {
    <div class="alert alert-danger text-capitalize text-center" role="alert">
      {{resMsg}} <br>
    </div>
    }
    }
    <div class="social-login">

      <p class="text-capitalize text-center">or continue with</p>
      <div class="social-icons d-flex justify-content-evenly">
        <a href="">
          <i class="fa-brands fa-google"></i>
        </a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands text-black fa-apple"></i></a>
      </div>
    </div>
  </form>


</section>
