$main-color: #4461F2;
$border-color: #E0E0E9;
$input-bg: #F9F9F9;
$shadow-color: #4461F21C;
$invalid-border-color: #dca9ae;
$invalid-bg-color: #f1dcde;
$valid-border-color: #BADBCC;
$valid-bg-color: #D1E7DD;